.card {
    background-color: antiquewhite;
    margin: auto;
    margin-bottom: 20px;
}

.btn-info {
    position: relative;
    margin-left: 1200px;
    margin-right: 30px;
    margin-bottom: 20px;
}