
.card {
    background-color: rgb(222, 231, 241);
    margin: auto;
    margin-bottom: 20px;
}

.btn-info {
    position: relative;
    margin-left: 1200px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.section-half {
    height:38vh; /* ครึ่งหนึ่งของความสูงของ viewport */
  }
  
  .border {
    padding: 10px;
  }
  
  .card {
    margin-bottom: 10px;
  }


.btn-icon i {
    font-size: 2rem; /* ปรับขนาดไอคอน */
}

.text-Result {
    text-align: center;
}

.icon-pad{
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
  button {
    margin: 0 10px;
    border-radius: 5px ;
    border: none;
    background-color: rgb(186, 186, 186);
  }

}